html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(1deg, #1c1c1c,#000);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra de navegação */

nav.navbar-transparente {
    padding: 15px 0px;
}  

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #fff;
    color: #000;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.5);
    border-color: rgba(255,255,255,0.6);
}